html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    user-select: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.btnCon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.title {
    font-size: 60px;
    margin-bottom: 40px;
    color: white;
    
}

.startBtn {
    height: 60px;
    width: 150px;
    border-radius: 12px;
    font-size: 22px;
    margin-bottom: 25px;
    transition: all 0.3s ease;
    outline: none;
    border: none;
}

.startBtn:hover {
    background-color: rgb(78, 74, 74);
    color: white;
    cursor: pointer;
    transform: translateY(-6px);
}

.troll {
    opacity: 0;
    transform: translateY(750px);
    transition: all 3s ease;
    animation: float 1.5s ease-in-out infinite;
    user-select: none;
}

.troll.anim, .hands.anim, .num.anim, .right.anim {
    opacity: 1;
    transform: translateY(0px);
}

.num.anim {
    transform: translateY(-100px);
}

.six {
    margin-right: 500px;
    animation: num 0.5s ease-in-out infinite;
}

.seven {
    margin-left: 600px;
    animation: num 0.5s ease-in-out infinite;
}

.hands {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: row;
    gap: 300px;
    opacity: 0;
    transform: translateY(750px);
    transition: all 3s ease;
}

.left, .right {
    border-radius: 50px;
    position: absolute;
}

.left.bounce {
    animation: l67 0.5s ease-in-out infinite;
}

.left {
    transform: translate(-320px, 0px) scaleX(-1);
}

.right.bounce {
    animation: n67 0.5s ease-in-out infinite;
    animation-delay: 0.25s;
}

.seven {
    animation-delay: 0.25s;
}

.right {
    margin-left: 650px;
}

.num {
    color: white;
    font-size: 125px;
    opacity: 0;
    transform: translateY(750px);
    transition: all 3s ease;
    user-select: none;
}

.rightDiv, .leftDiv {
    position: absolute;
}

.leftDiv {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightDiv {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes float {
  0% {transform: translateY(0);}
  50% {transform: translateY(-12px);}
  100% {transform: translateY(0);}
}

@keyframes n67 {
    0% {transform: translateY(0);}
    50% {transform: translateY(-50px);}
    100% {transform: translateY(0);}
}

@keyframes l67 {
    0% {transform: translate(-320px, 0px) scaleX(-1);}
    50% {transform: translate(-320px,-50px) scaleX(-1);}
    100% {transform: translate(-320px,-0px) scaleX(-1);}
}

@keyframes num {
    0% {margin-bottom: 0px;}
    50% {margin-bottom: 75px;}
    100% {margin-bottom: 0px;}
}